body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f5f7fa;
    color: #333;
}

h1 {
    text-align: center;
}

form {
    max-width: 1000px;
    margin: auto;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

legend {
    font-weight: bold;
}

fieldset.personal-data label {
    display: block;
    margin-bottom: 1.5em;
}

#questions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button#generate-report {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#generate-report:hover {
    background-color: #1e7e34;
}

#factors-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#factors-table th,
#factors-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.chart-wrapper {
    max-width: 600px;
    margin: 40px auto;
}

.chart-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.chart-grid canvas {
    max-width: 400px;
    height: 400px;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    font-size: 0.8em;
}

.left-labels {
    margin-right: 10px;
    text-align: right;
}

.right-labels {
    margin-left: 10px;
    text-align: left;
}
